.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    height: 100%;
    overflow-x: scroll;
}

.col1 {
}

.col2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hoverBlue:hover {
    color: #0E76FD;
}

.contribute {
    display: flex;
    direction: row;
}

.input {
    max-width: 252px;
}