@import '~nes.css/css/nes.css';

body {
  margin: 0;
}

input::placeholder {
  font-size: 10px;
}

.is-primary {
  background-color: #73C07F !important;
}

.is-primary::after {
  box-shadow: inset -4px -4px #52895a !important;
}
